altgraph==0.16.1
asn1crypto==0.24.0
cffi==1.11.5
comtypes==1.1.7
cryptography==3.2
future==0.17.1
idna==2.7
macholib==1.11
pefile==2018.8.8
pyautocad==0.2.0
pycparser==2.19
PyInstaller==3.4
PyMySQL==0.9.2
pywin32==224
pywin32-ctypes==0.2.0
pywinauto==0.6.5
redis==2.10.6
six==1.11.0
WMI==1.4.9
